In [4]:
# takes user input
name = input("enter name: ")
rollno = int(input("enter rollno: "))
addr = input("enter address: ")

enter name:  samarth
enter rollno:  48
enter address:  baner

In [3]:
# sum of two numbers
x = int(input("enter first number: "))
y = int(input("enter second number: "))
print("sum: ", x+y)

enter first number:  1
enter second number:  2

3

In [6]:
# convert celsius to fahrenheit
x = float(input("enter temperature in celsius: "))
print(((9*x)/5) + 32)

enter temperature in celsius:  20.4

68.72

In [11]:
# area of triangle
a = float(input("enter length of side A: "))
b = float(input("enter length of side B: "))
c = float(input("enter length of side C: "))

s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**(0.5) # ** operator is for exponents

print("area: ", area)

enter length of side A:  12
enter length of side B:  5
enter length of side C:  13

30.0

In [13]:
a = float(input("enter first number: "))
b = float(input("enter second number: "))

b = a
a = b # incorrect swapping mechanism as we changed the value of b to a, so when we do 'a = b', it is the original value of a
# this approach loses us the original value of b

print("first var: ", a)
print("second var: ", b)

enter first number:  1
enter second number:  2

first var:  1.0
second var:  1.0

In [9]:
# swap variable values
a = float(input("enter first number: "))
b = float(input("enter second number: "))

c = b # introduce third variable to preserve value of b after its value is changed to a
b = a
a = c

print("first var: ", a)
print("second var: ", b)

enter first number:  2
enter second number:  3

first number:
3.0
second number:  2.0
2.0

In [11]:
# splits input elements separated by space and maps them to the corresponding variables
firstname,lastname = map(str, input("enter name: ").split()) 
print(firstname, lastname)

enter name:  samarth kulkarni

samarth kulkarni

In [12]:
# same code as previous cell but it is now provided 3 space separated values so it can't map to the variables as there are only two of those
firstname,lastname = map(str, input("enter name: ").split())
print(firstname, lastname)

enter name:  samarth samir kulkarni

ValueError: too many values to unpack (expected 2)

In [9]:
#initials of a name
name = input("enter name: ").split() #split input by space
initials = ' '.join([str(x[0]) for x in name]) #take the first index of each element string and join them with a space in the middle
print(initials)

enter name:  samarth kulkarni

s k

In [14]:
# list functions
list = [] # empty list
print(list)
list = [1, 2, 3]
print(list)
list.extend([5])
list.append([6,7,8]) # append adds only one element so even if you provide it an iterable it ends up adding the entire list as one element
print(list)
list.insert(3, 4) # inserts element 4 on the index 3(0-base) 
print(list)

[]
[1, 2, 3]
[1, 2, 3, 5, [6, 7, 8]]
[1, 2, 3, 4, 5, [6, 7, 8]]

In [4]:
# extend adds all elements but it needs to be given only one argument that is an iterable
list = []
list.extend(["samarth"], ["kulkarni"])
print(list)

TypeError: list.extend() takes exactly one argument (2 given)

In [5]:
# append accepts only one element
list = []
list.append(["samarth"], ["kulkarni"]) 
print(list)

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
# additional functionality
list = []
list.extend('samarth' 'kulkarni') #inserts each char into the list
list.append("samarth kulkarni")
list.extend(["samarth", "kulkarni"]) #extend given one argument [] that is an iterable consisting of multiple elements
list.append(["samarth", "kulkarni"]) #append adds only one element into the list, even if it is an iterable
print(list)

# both extend and append take only one argument
# extend iterates over the argument passed and adds all elements in the iterable as separate elements in the list
# append adds the entire argument as one element in the list

['s', 'a', 'm', 'a', 'r', 't', 'h', 'k', 'u', 'l', 'k', 'a', 'r', 'n', 'i', 'samarth kulkarni', 'samarth', 'kulkarni', ['samarth', 'kulkarni']]

In [7]:
# adding boolean types
list = []
list.append(True)
print(list)

[True]

In [76]:
# dictionary functionalities
dict = {'first': 'python', 'second':'c++'}
print(dict)
dict['second'] = 'c' # changing value for a previously defined key
print(dict)
dict['third'] = 'c++' # adding value for new key 
print(dict)

{'first': 'python', 'second': 'c++'}
{'first': 'python', 'second': 'c'}
{'first': 'python', 'second': 'c', 'third': 'c++'}

In [77]:
# prints keys of dictionary
dict.keys()

dict_keys(['first', 'second', 'third'])

In [78]:
# print values of dictionary
dict.values()

dict_values(['python', 'c', 'c++'])

In [79]:
# print key-value pairs of dictionary (essentially prints the dictionary itself)
dict.items()

dict_items([('first', 'python'), ('second', 'c'), ('third', 'c++')])